<div class="container px-4 py-5" id="hanging-icons" style="margin-top: 200px">
    <h2 class="pb-2 border-bottom">Features of TO-DO Tracker</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square text-dark flex-shrink-0 me-3">
                <i class="fas fa-tasks" style="font-size: 50px"></i>
            </div>
            <div>
                <h3>Add and categorize tasks</h3>
                <p class="lead fw-normal">A task can be added and categorized. Get a clear overview of all your tasks and never lose track of any important task.</p>
                <a href="/login" class="btn btn-primary">
                    Click
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-dark flex-shrink-0 me-3">
                <i class="fas fa-sitemap" style="font-size: 50px"></i>
            </div>
            <div>
                <h3>Organize your tasks</h3>
                <p class="lead fw-normal">Create a list of tasks and due dates by which they need to be completed. Tag a specific high priority task from the list of tasks you have at hand.</p>
                <a href="/login" class="btn btn-primary">
                    Click
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-dark flex-shrink-0 me-3">
                <i class="fas fa-bell" style="font-size: 50px"></i>
            </div>
            <div>
                <h3>Get reminder</h3>
                <p class="lead fw-normal">Check to enlist the tasks for a particular day.</p>
                <a href="/login" class="btn btn-primary">
                    Click
                </a>
            </div>
        </div>
    </div>
</div>
