<div class="card shadow-2-strong mt-5 mb-5">
    <div class="card-body p-4">
      <h3 class="text-uppercase text-center mb-5"> Sign Up </h3>

      <form>

        <div class="form-outline mb-4">
          <input type="text" id="name" class="form-control form-control" name="userName" [(ngModel)]="userName"/>
          <label class="form-label" for="name">Your Full Name</label>
        </div>

        <div class="form-outline mb-4">
          <input type="email" id="emailId" class="form-control form-control" name="email" [(ngModel)]="email"/>
          <label class="form-label" for="emailId">Your Email</label>
        </div>

        <div class="form-outline mb-4">
          <input type="password" id="password" class="form-control form-control" name="pwd" [(ngModel)]="password"/>
          <label class="form-label" for="password">Password</label>
        </div>

        <div class="d-flex justify-content-right">
          <button type="button" class="btn btn-md gradient-custom-4" (click)="doRegister()">Register</button>
        </div>

        <p class="text-center text-muted mt-5 mb-0">Already an account? <a routerLink="/login" class="fw-bold text-body"><u style="cursor: pointer;">Login here</u></a></p>

      </form>

    </div>
  </div>
