/**{*/
/*	margin: 0;*/
/*	padding: 0;*/
/*	box-sizing: border-box;*/
/*}*/

.bg-image {
	/*background-image: url("https://wallpapercave.com/wp/fto5lYX.jpg");*/

	height: 100%;

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.footer{
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:100px;
	right:50px;
	background-color:#0695FE;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    padding-top: 18px;
	z-index: auto;
}
.float:hover{
    background-color: #0695FE;
}

.btn {
	background-color: #0695FE;
	color: white;
}

mdb-navbar .navbar .navbar-1 .navbar-dark .navbar-toggler-icon {
	background-image: url('src/assets/hamburgur.svg');
}
