<div class="container col-xxl-8 px-4 py-5" style="margin-top: 150px;">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_h4th9ofg.json"  background="transparent" class="d-block mx-lg-auto img-fluid" speed="1"  style="width: 700px; height: 450px;"  loop autoplay></lottie-player>
        </div>
        <div class="col-lg-6" style="text-align: center;">
            <h1 class="display-5 fw-bold lh-1 mb-3">To-Do Tracker</h1>
            <p class="lead fw-normal">Captures quick ideas, add notes, check
                tasks off your To-Do list, you can create and share notes and lists.
                The To-Do Tracker helps you to accomplish a set of
                tasks in order to achieve a goal wherever you are.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <a class="btn btn-primary px-3" href="/register">Get Started</a>
            </div>
        </div>
    </div>
</div>

<div class="container col-xxl-8 px-4 py-5" id="#about">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_v1yudlrx.json"  background="transparent"  speed="1"  style="width: 700px; height: 700px;"  loop autoplay></lottie-player>
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">About Us</h1>
            <p class="lead fw-normal">Welcome to Todo Tracker, your number one source for capturing quick ideas, add notes, check tasks off your To-Do list, and much more. We're dedicated to giving you a best services, with a focus on best experience. </p>
            <p class="lead fw-bold">Developed in the year 2022 by Shashank Malviya, Sai Saranya and Tamojit Das.</p>
            <p class="lead fw-normal">We hope you enjoy our service as much as we enjoy offering them to you. If you have any queries or comments contact us in below social links.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            </div>
        </div>
    </div>
</div>

<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Features of TO-DO Tracker</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square text-dark flex-shrink-0 me-3">
                <i class="fas fa-tasks" style="font-size: 50px"></i>
            </div>
            <div>
                <h3>Add and categorize tasks</h3>
                <p class="lead fw-normal">A task can be added and categorized. Get a clear overview of all your tasks and never lose track of any important task.</p>
                <a href="/login" class="btn btn-primary">
                    Click
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-dark flex-shrink-0 me-3">
                <i class="fas fa-sitemap" style="font-size: 50px"></i>
            </div>
            <div>
                <h3>Organize your tasks</h3>
                <p class="lead fw-normal">Create a list of tasks and due dates by which they need to be completed. Tag a specific high priority task from the list of tasks you have at hand.</p>
                <a href="/login" class="btn btn-primary">
                    Click
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square text-dark flex-shrink-0 me-3">
                <i class="fas fa-bell" style="font-size: 50px"></i>
            </div>
            <div>
                <h3>Get reminder</h3>
                <p class="lead fw-normal">Check to enlist the tasks for a particular day.</p>
                <a href="/login" class="btn btn-primary">
                    Click
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_mwawjro9.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop autoplay></lottie-player>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form (ngSubmit)="onSubmit(todoTracker)" #todoTracker="ngForm" class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Enter your email" email name="email" ngModel required #email="ngModel">
                    <label for="floatingInput">Enter your email</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="textAreaExample1" rows="4" placeholder="Write your feedback/queries..." name="messages" ngModel required #messages="ngModel"></textarea>
                    <label for="textAreaExample1">Write your feedback/queries...</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Send Message</button>
                <hr class="my-4">
                <small class="text-muted"><a href="/privacy-policy">Terms and Conditions</a></small>
            </form>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
            class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-clipboard-list"></i> TO-DO Tracker
                    </h6>
                    <p>
                        Captures quick ideas, add notes, check tasks off your To-Do list, you can create and share notes and lists.
                    </p>
                </div>

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="/about" class="text-reset">About</a>
                    </p>
                    <p>
                        <a href="/contact" class="text-reset">Contact</a>
                    </p>
                    <p>
                        <a href="/privacy-policy" class="text-reset">Privacy-Policy</a>
                    </p>
                    <p>
                        <a class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> India</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info.todotracker@gmail.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 91 9874563210</p>
<!--                    <p><i class="fas fa-print me-3"></i> + 91 6897452413</p>-->
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="http://localhost:4200/home">todotracker.com</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
