<div class="container col-xl-10 col-xxl-8 px-4 py-5" style="margin-top: 100px">
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_mwawjro9.json"  background="transparent"  speed="1"  style="width: 500px; height: 500px;"  loop autoplay></lottie-player>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
            <form (ngSubmit)="onSubmit(todoTracker)" #todoTracker="ngForm" class="p-4 p-md-5 border rounded-3 bg-light">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Enter your email" email name="email" ngModel required #email="ngModel">
                    <label for="floatingInput">Enter your email</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="textAreaExample1" rows="4" placeholder="Write your feedback/queries..." name="messages" ngModel required #messages="ngModel"></textarea>
                    <label for="textAreaExample1">Write your feedback/queries...</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Send Message</button>
                <hr class="my-4">
                <small class="text-muted"><a href="/privacy-policy">Terms and Conditions</a></small>
            </form>
        </div>
    </div>
</div>
