/* You can add global styles to this file, and also import other style files */
.red{
    background-color: #d77474;
}

.green {
    background-color: #7bd77b;
}

.yellow {
    background-color: #d9c264;
}

.blue{
    background-color: #0695FE;
}

/*body {*/
/*    background-image: url("https://images.unsplash.com/photo-1522199670076-2852f80289c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2072&q=80");*/
/*    !*filter: blur(8px);*!*/
/*    !*-webkit-filter: blur(8px);*!*/
/*}*/
body, html {
    height: 100%;
    margin: 0;
}
