.high{
    border:2px solid red;
    background-color: #efa39a;
}

.med{
    border:2px solid #e6c300;
    background-color: #f8ee90;
}

.low{
    border:2px solid #1276dc;
    background-color: #B0CAFA;
}

.high-img{
    background-image: url("https://media.istockphoto.com/photos/notebook-and-pencil-picture-id1272349606?k=20&m=1272349606&s=612x612&w=0&h=tiqP2rDA3F2X8J6ht0q1njpCi2XShRbP-mKadfrme2k=");
}

.med-img{}

.low-img{}
