<div class="container-fluid h-custom" style="margin-top: 100px;">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
            <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_s50p1rff.json"  background="transparent"  speed="1"  style="width: 700px; height: 500px;"  loop autoplay></lottie-player>

        </div>
        <div  class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            <form [formGroup]="form" action="/action_page.php" class="was-validated">
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <p class="lead fw-normal mb-0 me-3" style="font-size: 50px">Registration Form</p>
                </div>

                <div class="divider d-flex align-items-center my-4">
                </div>

                <!-- name input -->
                <div class="form-outline mb-4">
                    <input type="text" id="name" class="form-control form-control-lg"
                           placeholder="Enter a your full name" name="userName" formControlName="username" [(ngModel)]="userName" required/>
                    <label class="form-label" for="name">User Name</label>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Enter your full name.</div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <input type="email" id="emailId" class="form-control form-control-lg"
                           placeholder="Enter a valid email address" name="email" formControlName="email" [(ngModel)]="email" required/>
                    <label class="form-label" for="emailId">Email address</label>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Give proper email "example@gmail.com".</div>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-3">
                    <input type="password" id="password" class="form-control form-control-lg"
                           placeholder="Enter password" name="password" formControlName="password" [(ngModel)]="password" minlength="6" required/>
                    <label class="form-label" for="password">Password</label>
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Give at least 6 character length password.</div>
                </div>

                <div class="form-outline mb-3">
                    <input formControlName="confirm_password" name="confirm_password" placeholder="Enter confirm password" id="confirm_password" minlength="6" type="password" class="form-control form-control-lg"  required/>
                    <label class="form-label"  for="password">Confirm Password</label>
                    <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                        <div *ngIf="f.confirm_password.errors?.required">Password is required.</div>
                        <div *ngIf="f.confirm_password.errors?.confirmedValidator">Password and Confirm Password must be match.</div>
                    </div>
                </div>



                <div class="d-flex justify-content-between align-items-center">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" formControlName="policy" required/>
                        <label class="form-check-label" for="form2Example3">
                            Accept <a href="/privacy-policy" target="_blank">Privacy Policy</a>
                        </label>
                    </div>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="button" class="btn btn-primary btn-lg" (click)="doRegister()"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;"  [disabled]="!form.valid" >Register</button>
                    <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a routerLink="/login" class="link-danger">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
